*{
    box-sizing: border-box;
    overflow: hidden;
    font-family: "標楷體";
}

.top {
    /* background-color: lightblue; */
    height: 65px;
    width: 1024px;
    margin: auto;
    border: 1px solid black;
    border-bottom: 0px;
}

img {
    margin-left: 15px;
}

.container {
    /* background-color: lightcoral; */
    height: 683px;
    width: 1024px;
    margin: auto;
    display: flex;
}

.container-l {
    /* background-color: lightgoldenrodyellow; */
    height: 100%;
    width: 215px;
}


.ltop{
    height: 658px;
    width: 215px;
    /* background-color: lightgreen; */
    border: 1px solid black;
    border-right: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lbottom{
    height: 25px;
    width: 215px;
    /* background-color: lightgrey; */
    border: 1px solid black;
    border-top: 0px;
    border-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-r {
    /* background-color: lightgray; */
    height: 100%;
    width: 809px;
    /* margin: auto; */
    
    
}

.rtop{
    height: 29px;
    width: 100%;
    /* background-color: lightpink; */
    border: 1px solid black;
    border-bottom: 0px;
}

marquee{
    font-size: 24px;
    color: #0000FF;
}

.rbottom{
    height: 654px;
    width: 100%;
    /* background-color: lightsalmon; */
    border: 1px solid black;
    background-image: url("../images/0101.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;

}

.teacher_img{
    height: 300px;
    width: 350px;
    background-color:#FF00FF;
    background-image: url("../images/0104.png");
    background-repeat: no-repeat;
    margin-top: 25px;
}

.footer {
    /* background-color: lightcyan; */
    height: 20px;
    width: 1024px;
    margin: auto;
    border: 1px solid black;
    border-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-title{
    /* height: 6vh; */
    font-size: 24px;
    color: #FF00FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

.menu-container{
    height:32vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu{
    background-image: url('../images/menu1.png');
    background-repeat: no-repeat;
    width:200px;
    height:34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.menu:hover {
    background-image: url('../images/menu2.png');
}

.rbottom_texts{
    color: #0000FF;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
}